---
---
<!DOCTYPE html>
<html>
<head>
	<title>Fourcast: Weather, Simplified.</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/mainStyle.css" />
	<link rel="stylesheet" type="text/css" href="./style.css" />

	<meta property="og:type" content="product" />
	<meta property="og:title" content="Fourcast" />
	<meta property="og:image" content="./img/Logo.png" />
	<meta property="og:url" content="http://fourcast.ayulin.net" />
	<meta property="og:description" content="There are only really four things you need to know about the weather. Fourcast puts them up front, with the details nearby." />


	<style type="text/css">
		.justify {
			text-align: justify;
		}
		ul {
			list-style-type: circle;
		}
	</style>
</head>
<body>
	<div><a href="../index.html">back to home</a></div>
	<div class = "container">
		<div class = "row">
			<div class = "col-sm-3">
				<img class="img-responsive" src = "./img/1.png" />
				<p class = "justify">You only really need to know 4 things about the weather. Fourcast puts them up front.</p>
			</div>
			<div class = "col-sm-3">
				<img class="img-responsive" src = "./img/3.png" />
				<p class = "justify">Everyone has different tolerances. Tell Fourcast yours, and it'll use them.</p>
			</div>
			<div class = "col-sm-3">
				<img class="img-responsive" src = "./img/2.png" />
				<p class = "justify">Weather for where you're at, where you're going, or where you want to be.</p>
			</div>
			<div class = "col-sm-3">
				<img class="img-responsive" src = "./img/4.png" />
				<p class = "justify">Glance and go. Get the essentials right from your Start screen.</p>
			</div>
		</div>

		<div class = "row">
			<div class="col-sm-9">
				<h1>Changelog</h1>
				{% for patch in site.categories["fourcast patches"] %}
					<div class="row col-sm-12">
						<h2>{{ patch.version }} - {{ patch.date | date_to_long_string }} {% if patch.description %}<small>"{{ patch.description }}"</small>{% endif %}</h2>
						{{ patch.content }}
					</div>
				{% endfor %}
			</div>

			<div class = "col-sm-3">
				<img src = "./img/Logo.png"/>
				<h1>Download</h1>
				<p>Ad-free, untimed trial.</p>
				<p>Paid version adds Live Tile updates.</p>
				<a href="http://windowsphone.com/s?appid=4d21bde6-841b-484d-a7c9-95c7a1e5cd56">
					<img src="./img/Download.png" />
				</a>
			</div>
		</div>
	</div>
	{% include analytics.html %}
</body>
</html>