--- 
layout: default 
---

<div class="container main-page-body">
  <div class="row">
    <div class="col-sm-12 center-text">
      <h1>
        Hello.
      </h1>
      <hr />
      <p>
        My name's Jerome Cheng. I'm an undergraduate studying Computer Science at the National University of Singapore.
      </p>
      <p>
        I usually go by <i>Ayulin</i> online, and can be found on <a href="https://twitter.com/Ayulin">Twitter</a> or <a href="https://steamcommunity.com/id/Ayulin">Steam</a>.
      </p>
      <p>
        Occasionally I ramble about things <a href="./blog/">here</a>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 center-text">
      <h1>
        Things.
      </h1>
      <hr />
      <p>
        Here're a few of the projects I've been involved with. Anything not included here is probably on <a href="https://www.github.com/jcheng31">GitHub</a>.
      </p>
    </div>
  </div>

  {% for project in site.data.projects %}
  <hr />
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <h2 class="no-margin-top">
        {% if project.url %}
        <a href="{{ project.url }}">
          {% endif %}
            {{ project.name }}
          {% if project.url %}
          </a>
        {% endif %}
        <small>
          {{ project.platform }}
        </small>
      </h2>
      {% if project.url %}
      <a href="{{ project.url }}">
        {% endif %}
        {% if project.url %}
        </a>
      {% endif %} 
      {% for paragraph in project.description %}
      <p>
        {{ paragraph }}
      </p>
      {% endfor %}
    </div>
    
    <img class="img-responsive col-md-3" src="{{ project.img }}" />
  </div>
  {% endfor %}
</div>
