---
layout: blogDefault
---
<div class="blog-wrapper">
  <div class="border-right left-sidebar">
    <div class="row center-text">
      <a href="/blog">
        <img src="/blog/img/profile.JPG" class="image-border img-circle">
        <h3>Jerome Cheng</h3>
      </a>
      <p class="subtle">Geek. Gamer. TCK.</p>
      <a href="/blog/rss.xml">RSS</a>
    </div>
    <div class="center-text">
      <hr width="70%"/>
      <p><a href="/">back to ayulin.net</a></p>
    </div>
  </div>

  <div class="blog-body">
    {{ content }}
  </div>
</div>