.left-sidebar {
  padding: 24px 0;
}
.blog-body p {
  margin-bottom: 16px;
}
.blog-post-listing {
  margin: 64px 0;
}

@media (min-width: 700px) {
  .blog-body {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    z-index: 1;
  }
}

@media (min-width: 1280px) {
  .left-sidebar {
    position: fixed;
    margin-right: 24px;
    top: 0;
    bottom: 0;
    width: 280px;
    background-color: white;
    z-index: 9999;
  }
}
.blog-post-wrapper {
  margin-top: 64px;
}
.blog-post-body p, .blog-post-body ul, .blog-post-body ol {
  font-size: 18px;
}
.blog-post-body hr {
  width: 30%;
}
.blog-post-body img {
  max-width: 100%;
}
.blog-post-img-wrapper {
  margin: 0 -100px;
}

@media (max-width: 1000px) {
  .blog-post-img-wrapper {
    margin: 0;
  }
}